.empty-chat-container {
    height: 100%;
    padding: 2rem;
    
    h1 {
        color: var(--text-primary);
        margin-bottom: 1rem;
    }
    
    .lead {
        color: var(--text-secondary);
    }
}