.root-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    .header-container {
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px solid #dee2e6;
    }

    .content-container {
        height: 100%;
        width: 100%;
        overflow: hidden;

        .chat-panel-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .chat-panel-footer {
                flex-shrink: 0;
                padding: 0.5rem 1rem;
                border-top: 1px solid #dee2e6;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}
