.main-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;

    .message-container {
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem 0;
        margin-bottom: 0.5rem;

        .container {
            margin-top: auto;
            display: flex;
            flex-direction: column;
        }
    }
}