.no-highlight {
    outline: none !important;
    box-shadow: none !important;
}

.message-input-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding-inline-end: 1rem;
}
